@{
    ViewBag.Title = "AddCategory";
}
@{Layout = "~/Views/Shared/_Layout.cshtml";}
@{
    String uniqueError = (String)ViewData["UniqueError"];
}
@model ASP.NET_Test.Models.Category
		<div class="row-fluid">
		  <div class="span12">
            <div class="page-header">
              <h3>Add category:</h3>
            </div>
		    @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post, new { @class = "form-signin" }))
              {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
			    <div class="form-group">
				  @Html.TextBoxFor(model => model.CategoryName,  new { @class = "form-control",@required  = "required",@autocomplete = "off", @placeholder = "Your new category", @autofocus = "autofocus"})
                  @Html.ValidationMessageFor(model => model.CategoryName, String.Empty, new { @class = "text-danger" })	
                  <span class="text-danger">@uniqueError</span>
			    </div>
			    <div class="form-actions">
			      <button type="submit" class="btn pull-right btn-primary"> Save </button>
			    </div>
		      }
            </div>
          </div>
